---
import PageLayout from '@/layouts/CommonPage.astro'
---

<PageLayout title='关于'>
  <p>欢迎来到 <strong>SolfX 学习日志</strong>。</p>
  <p>这里记录学习、思考与日常的踩坑笔记。</p>
  <p>千里之行始于足下。</p>
  <p>
    联系方式：<a href='https://x.com/solfx_2030' target='_blank' rel='noopener noreferrer'>X</a>
    {' / '}
    <a href='https://github.com/solfx' target='_blank' rel='noopener noreferrer'>GitHub</a>
  </p>
</PageLayout>
